{% extends 'base.html.twig' %}

{% block body %}
    <div class="content-area home-area-1 recent-property">
        <div class="container">
            <div class="col-md-10 col-md-offset-1 col-sm-12 text-center page-title">
                <h2>{{ content.title }}</h2>
                <p>{{ content.body }}</p>
            </div>
        </div>
    </div>
{% endblock %}
